In [1]:
#import tensorflow as tf
import pandas as pd
#import matplotlib.pyplot as plt
import seaborn as sbn
import sklearn
#import keras

import settings
import tools
import ml_tools

# Leer los .xlsx y almacenarlos en un solo dataframe

In [32]:
files_name = tools.ls2(settings.path)
#crear dataframe con los headers de acuerdo a la data
full_data = pd.DataFrame(columns= settings.headers_list)
#agregar al dataframe cada mes(archivo de excel)
for i in files_name:
    full_data =tools.add_data_month(full_data, settings.path +'/' + i)

#Dar formato al dataframe: setear fecha como indice y ordenar los datos cronológicamentes
full_data = tools.format_dataframe(full_data, settings.headers_list[0])

In [33]:
full_data

,WS1,WS2,ENERGY,IRRAD1,IRRAD2,IRRAD3,IRRAD4,IRRAD5,TEMP1,TEMP2,WANG
DateTime,,,,,,,,,,,
2019-06-01 00:00:00,0.000000,1.042308,0.0,-3.400000,-3.322308,-1.893846,-3.303077,-2.936923,13.845385,14.244615,60.199231
2019-06-01 01:00:00,2.108333,0.112500,0.0,-3.655000,-3.549167,-2.455833,-3.162500,-3.419167,14.022500,13.224167,142.113333
2019-06-01 02:00:00,1.015000,2.450833,0.0,-5.313333,-5.077500,-3.851667,-4.780000,-4.674167,13.557500,13.665000,125.859167
2019-06-01 03:00:00,2.208333,2.581667,0.0,-5.647500,-5.279167,-4.146667,-5.175833,-5.147500,12.877500,12.899167,120.624167
2019-06-01 04:00:00,0.158333,0.000000,0.0,-5.093333,-5.514167,-3.605000,-4.883333,-4.870833,10.881667,11.436667,49.983333
...,...,...,...,...,...,...,...,...,...,...,...
2019-07-31 19:00:00,9.853333,3.991667,0.0,-5.336667,-5.680833,-3.665000,-3.852500,-4.445833,14.786667,14.831667,227.084167
2019-07-31 20:00:00,6.996667,5.061667,0.0,-5.140000,-5.164167,-4.226667,-4.178333,-4.612500,13.181667,12.936667,98.032500
2019-07-31 21:00:00,1.158333,1.486667,0.0,-5.367500,-5.023333,-4.561667,-3.991667,-4.487500,11.802500,11.610833,152.123333
2019-07-31 22:00:00,0.000000,0.000000,0.0,-5.271667,-4.950000,-3.655000,-3.566667,-3.889167,11.186667,11.005000,206.000000
2019-07-31 23:00:00,0.000000,0.000000,0.0,-4.435000,-4.520833,-2.926667,-3.136667,-3.465000,10.557500,10.628333,206.000000

In [34]:
full_data['IRRAD1'] = full_data['IRRAD1'].clip(lower = 0)

In [35]:
full_data

,WS1,WS2,ENERGY,IRRAD1,IRRAD2,IRRAD3,IRRAD4,IRRAD5,TEMP1,TEMP2,WANG
DateTime,,,,,,,,,,,
2019-06-01 00:00:00,0.000000,1.042308,0.0,0.0,-3.322308,-1.893846,-3.303077,-2.936923,13.845385,14.244615,60.199231
2019-06-01 01:00:00,2.108333,0.112500,0.0,0.0,-3.549167,-2.455833,-3.162500,-3.419167,14.022500,13.224167,142.113333
2019-06-01 02:00:00,1.015000,2.450833,0.0,0.0,-5.077500,-3.851667,-4.780000,-4.674167,13.557500,13.665000,125.859167
2019-06-01 03:00:00,2.208333,2.581667,0.0,0.0,-5.279167,-4.146667,-5.175833,-5.147500,12.877500,12.899167,120.624167
2019-06-01 04:00:00,0.158333,0.000000,0.0,0.0,-5.514167,-3.605000,-4.883333,-4.870833,10.881667,11.436667,49.983333
...,...,...,...,...,...,...,...,...,...,...,...
2019-07-31 19:00:00,9.853333,3.991667,0.0,0.0,-5.680833,-3.665000,-3.852500,-4.445833,14.786667,14.831667,227.084167
2019-07-31 20:00:00,6.996667,5.061667,0.0,0.0,-5.164167,-4.226667,-4.178333,-4.612500,13.181667,12.936667,98.032500
2019-07-31 21:00:00,1.158333,1.486667,0.0,0.0,-5.023333,-4.561667,-3.991667,-4.487500,11.802500,11.610833,152.123333
2019-07-31 22:00:00,0.000000,0.000000,0.0,0.0,-4.950000,-3.655000,-3.566667,-3.889167,11.186667,11.005000,206.000000
2019-07-31 23:00:00,0.000000,0.000000,0.0,0.0,-4.520833,-2.926667,-3.136667,-3.465000,10.557500,10.628333,206.000000